# Enable Rewrite Engine
RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Disable directory listing to prevent forbidden errors
Options -Indexes

# Redirect all non-file requests to React app's index.html
# This allows React Router to handle front-end routes even if directory names match
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [L]
